h1 {color:#FA2A00; font-family:Calibri;
}

p{color:white; font-family:arial;
}
h2{color:#86B8B1;
}
ul {color:white;
font-family:arial;
list-style-type:square;
}
body {background-color:black;}

li {font-weight:bold;}

img{width:300px;
height:200px;
}

div {text-align:center;}

tr {color:white;
background-color:red;
}